@use "../abstracts/colors";

.avatarWrapper{
    grid-column-start: 3;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.avatar{
    width: 10rem;
    height: 10rem;
    background: map-get(colors.$baseColors, "background");
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 0.6rem solid map-get(colors.$baseColors, "backgroundDark");
    cursor: pointer;

    &__head{
        width: 40%;
        height: 40%;
        background: map-get(colors.$baseColors, "backgroundDark");
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.8s all;
    }

    &__body{
        width: 50%;
        height: 50%;
        background: map-get(colors.$baseColors, "backgroundDark");
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 95%;
    }

    &:hover &__head{
        cursor: pointer;
        transform: translate(-50%, -50%) scale(1.1);
    }
}